.filter-page {
  .filter-container {
    padding: 2rem 3rem;
    // height: 400px;
    .param-names {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 1rem;
      border-bottom: 1px solid rgb(205, 205, 205);
      div {
        display: flex;
        align-items: center;
      }
      i {
        font-size: 20px;
      }
      .bxs-home {
        cursor: pointer;
        color: rgb(74, 74, 74);
      }
      .bx-chevron-right {
        color: rgb(74, 74, 74);
        font-size: 2rem;
      }
    }
    .not-founded {
      margin-top: 2rem;
      text-align: center;
      height: 300px;
      color: rgb(166, 166, 166);
    }
  }
}

@media (max-width: 675px) {
  .filter-page {
    .filter-container {
      .param-names {
        display: block;
        text-align: center;
        div {
          justify-content: center;
        }
      }
    }
  }
}
@media (max-width: 420px) {
  .filter-page {
    .filter-container {
      padding: 2rem 0rem;
      .param-names {
        h1 {
          font-size: 18px;
        }
        i {
          font-size: 14px;
        }
        .bx-chevron-right {
          font-size: 1rem;
        }
        span {
          font-size: 14px;
        }
      }
      .not-founded h1 {
        font-size: 18px;
      }
    }
  }
}
