:root {
  --OnHoverColor: rgb(131, 83, 255);
}

// header
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  font-size: 1.1rem;

  background: linear-gradient(
    90deg,
    rgba(13, 164, 135, 1) 0%,
    rgba(9, 195, 255, 1) 100%
  );

  // logo
  .logo {
    .own-style {
      font-weight: 900;
      color: white;
    }
  }

  // navbar
  .navbar {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style-type: none;
    color: white;

    cursor: pointer;

    //
    .navigation-links {
      display: flex;
      gap: 1.5rem;
      font-size: 16px;
    }

    // change language
    .select-language {
      .change-language {
        padding: 6px 12px;
        font-size: 16px;
        border: 1px solid white;
        background-color: transparent;
        color: white;
        border-radius: 5px;
        outline: none;

        option {
          color: black;
        }
      }
    }

    // favourite products
    .favourites-link {
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      font-size: 1.2rem;
      padding: 0.7rem;
      background-color: white;
      color: skyblue;
      border-radius: 50%;
      transition: 0.2s ease-in-out;

      &:hover {
        background-color: var(--OnHoverColor);
        color: white;
      }
    }

    //
    .add-elon-link {
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      gap: 0.5rem;
      background-color: #0c5460;
      color: white;
      padding: 0.2rem 1rem;
      padding-left: 0.2rem;
      border-radius: 80px;
      font-size: 14px;

      .plus-icon {
        display: flex;
        justify-content: center;
        background-color: #09c3ff;
        padding: 0.8rem;
        font-size: 1.3rem;
        border-radius: 50%;
        transition: 0.1s ease-in;
      }

      &:hover {
        .plus-icon {
          transform: rotate(90deg);
        }
      }
    }

    .h-user-profile {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;

      //   user profile img
      .profile-img {
        display: flex;
        align-items: center;
        font-size: 1.3rem;
        background-color: white;
        color: rgb(101, 191, 255);
        padding: 0.7rem;
        transition: 0.2s ease;

        border-radius: 50%;

        &:hover {
          background-color: var(--OnHoverColor);
          color: white;

          ~ .user-surAndName {
            color: var(--OnHoverColor);
          }
        }
      }
      .user-surAndName {
        line-height: 1.2;
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 1050px) {
  header {
    position: sticky;
    top: 0;
    z-index: 995;
    .navbar {
      gap: 0;
      .navigation-links {
        display: none;
      }
      .favourites-link {
        display: none;
      }
      .add-elon-link {
        display: none;
      }
      .h-user-profile {
        display: none;
      }
    }
  }
}
@media (max-width: 640px) {
  header {
    padding: 12px 12px;
    .logo {
      .own-style {
        h1 {
          font-size: 32px;
        }
      }
    }
  }
}
