@import "./component-styles/search.scss";
@import "./component-styles/adds.scss";
@import "./component-styles/recommendenAnnouncements.scss";

.elonlar-categories {
  background-color: white;
  h1 {
    text-align: center;
  }

  .slider-container {
    padding: 0rem 1rem;
    .l-r-buttons {
      margin: 1rem 0rem;
      text-align: right;

      .left-btn {
        margin-right: 1rem;
      }
      .slider-button {
        cursor: pointer;
        font-size: 2rem;
        height: 35px;
        border: 2px solid rgb(0, 170, 255);
        background-color: white;
        color: rgb(0, 170, 255);
        border-radius: 5px;
        transition: 0.2s ease;
        &:hover {
          color: white;
          background-color: rgb(0, 170, 255);
        }
      }
      button {
        i {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
    .ul {
      display: grid;
      gap: 1.2rem;
      overflow: hidden;
      .li {
        cursor: pointer;
        .img-to-center {
          display: flex;
          justify-content: center;
        }
        .border {
          position: relative;
          border-radius: 50%;
          width: 130px;
          height: 130px;
          display: flex;
          align-items: center;
          justify-content: center;
          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background: linear-gradient(
              90deg,
              rgba(89, 43, 255, 1) 0%,
              rgba(255, 117, 117, 1) 50%,
              rgba(241, 255, 101, 1) 100%
            );
            z-index: 1;
            transition: transform 0.5s ease;
          }
          @keyframes rotate {
            from {
              transform: rotate(0deg);
            }
            to {
              transform: rotate(360deg);
            }
          }
          &:hover::before {
            animation: rotate 2s linear infinite; /* Add infinite rotation animation on hover */
          }
          div {
            width: 120px;
            height: 120px;
            display: flex;
            border-radius: 50%;
            align-items: center;
            justify-content: center;
            background-color: rgb(239, 239, 239);
            overflow: hidden;
            position: relative;
            z-index: 2; /* Ensure the content is above the gradient */
            img {
              max-width: 70%;
            }
          }
        }
        p {
          margin-top: 0.5rem;
          text-align: center;
          font-size: 18px;
        }
      }
    }
  }

  //
  .departments-categories {
    padding: 1rem;

    .dep-name {
      border: 1px solid rgb(189, 189, 189);
      border-radius: 5px 5px 0px 0px;
      padding: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      i {
        font-size: 30px;
        cursor: pointer;
      }
    }
    .dep-categories {
      list-style-type: none;
      padding: 1rem;
      border: 1px solid rgb(189, 189, 189);
      border-radius: 0px 0px 5px 5px;

      overflow: hidden;
      border-top: none;
      display: grid;
      grid-template-columns: repeat(5, 1fr);

      .not-founded {
        color: rgb(146, 146, 146);
        text-align: center;
        white-space: nowrap;
      }
      .li {
        text-decoration: none;
        color: black;
        display: flex;
        align-items: center;
        transition: 0.1s ease;
        i {
          font-size: 25px;
        }
        p {
          font-size: 16px;
          white-space: nowrap;
        }
        &:hover {
          color: blueviolet;
        }
      }
    }
  }
}

.nn1 {
  background-color: #002f34;
  color: white;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;

  img {
    width: 140px;
  }
  div {
    font-size: 18px;
    p {
      color: #94a4bb;
      line-height: 2;
    }
  }
  button {
    border: 2px solid #002f34;
    background-color: white;
    color: #002f34;
    font-size: 17px;
    font-weight: 600;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.1s ease-in;
    &:hover {
      border: 2px solid white;
      background-color: #002f34;
      color: white;
    }
  }
}

.nn2 {
  text-align: center;
  background-color: rgb(9 195 255);
  color: white;
  padding: 3rem;
  h1 {
    font-size: 45px;
  }
  p {
    margin-top: 2.5rem;
    line-height: 1.5;
  }
}

@media (max-width: 1300px) {
  .elonlar-categories {
    .departments-categories {
      .dep-categories {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }
}
@media (max-width: 1070px) {
  .elonlar-categories {
    .departments-categories {
      .dep-categories {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}
@media (max-width: 990px) {
  .elonlar-categories {
    .departments-categories {
      padding: 0px;
      position: fixed;
      left: 0;
      top: 84px;
      z-index: 990;
      background-color: white;
      width: 320px;
      height: calc(100vh - 84px - 60.8px);
      overflow: scroll;
      .dep-name {
        background-color: #e2e8f0;
      }
      .dep-categories {
        padding: 0.8rem;
        display: block;

        .li {
          border-bottom: 1px solid rgb(229, 229, 229);
          line-height: 3;
          i {
            display: none;
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .elonlar-categories {
    .departments-categories {
      height: calc(100vh - 84px - 44.8px);
    }
  }
  .slider-container {
    .ul {
      .li {
        .img-to-center {
          .border {
            width: 100px;
            height: 100px;
            div {
              width: 90px;
              height: 90px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 380px) {
  .slider-container {
    .ul {
      .li {
        .img-to-center {
          .border {
            width: 70px;
            height: 70px;
            div {
              width: 60px;
              height: 60px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 380px) {
  .elonlar-categories {
    h1 {
      font-size: 24px;
    }
  }
}
