@import "./component-styles/user-profile.scss";

// profile dashboard .....
.profile-dashboard {
  .dashboard_container {
    display: flex;
    justify-content: center;
  }

  .p_dash_container {
    width: 1535px;
    display: flex;
    gap: 1.75rem;
    padding: 70px 0px 40px;
    padding-left: 2rem;
    padding-right: 2rem;

    .dashboard {
      padding: 20px;
      h1 {
        font-size: 30px;
        padding-bottom: 1rem;
        border-bottom: 1px solid rgb(212, 212, 212);
      }
      .user-informations {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;

        .page-link,
        li {
          text-decoration: none;
          color: black;
          padding: 1rem;
          background-color: white;
          display: flex;
          align-items: center;
          // gap: 1rem;
          border-radius: 0.25rem;
          font-size: 16px;
          // width: 345px;
          // max-width: 100%;
          line-height: 1.2;
          box-shadow: 1px 1px 5px rgb(222, 222, 222);
          .img {
            img {
              width: 65px;
            }
          }
          .link-name {
            padding: 0px 12px;
            h2 {
              margin-top: 5px;
              font-size: 20px;
              font-weight: 600;
            }
          }
        }
        .page-link {
          cursor: pointer;
        }
      }
      .change_datas {
        margin-top: 3rem;
        .acc_information {
          div {
            display: flex;
            justify-content: space-between;
            padding: 12px 0px;
            border-bottom: 2px solid rgb(232, 232, 232);
            h2 {
              font-size: 20px;
            }
            span {
              display: flex;
              gap: 5px;
              align-items: center;
              cursor: pointer;
              color: #3b82f6;
              font: 14px "Poppins", sans-serif;
              i {
                font-size: 16px;
              }
            }
          }
          form {
            .form_inputs {
              display: flex;
              gap: 0.75rem;
              border-bottom: none;

              input {
                border: 1px solid transparent;
              }
              .getBorder {
                border: 1px solid rgb(232, 232, 232);
              }
            }
            .d-none {
              display: none;
            }
            .btns {
              padding: 0;
              border-bottom: none;
              display: flex;
              justify-content: end;
              gap: 1rem;
            }
          }
        }

        // edit psw
        .edit_psw {
          margin-top: 1rem;
          h2 {
            font-size: 18px;
            font-weight: 100;
            // border-bottom: 1px solid rgb(232, 232, 232);
          }
          form {
            .form_inputs {
              display: flex;
              gap: 0.75rem;
            }
            .btn {
              text-align: right;
            }
          }
        }
      }
    }
  }
}

// profile approved ....
.profile-approved {
  .p_approved_container {
    padding: 4rem 2rem;
    display: flex;
    .approved-dep {
      margin-left: 1rem;
      width: 72%;
      height: 50vh;
      h1 {
        padding: 1rem 0rem;
        border-bottom: 1px solid rgb(212, 212, 212);
      }
      h2 {
        text-align: center;
        font-size: 35px;
        color: grey;
      }
    }
  }
}

// profile pending ....
.profile-pending {
  .p_pending_container {
    padding: 4rem 2rem;
    display: flex;
    .pending-dep {
      margin-left: 1rem;
      width: 72%;
      height: 50vh;
      h1 {
        padding: 1rem 0rem;
        border-bottom: 1px solid rgb(212, 212, 212);
      }
      h2 {
        text-align: center;
        font-size: 35px;
        color: grey;
      }
    }
  }
}
// profile favourites ....
.profile-favourites {
  .p_favourites_container {
    padding: 4rem 2rem;
    display: flex;
    .favorites-dep {
      margin-left: 1rem;
      width: 72%;
      h1 {
        padding: 1rem 0rem;
        border-bottom: 1px solid rgb(212, 212, 212);
      }
      .favorite-card {
        display: flex;
        margin-bottom: 1rem;
        .card-img {
          width: 200px;
          overflow: hidden;
          height: 150px;
          box-shadow: 1px 1px 3px rgb(195, 195, 195);
          border-radius: 5px 0px 0px 5px;

          // background-color: red;

          img {
            width: 200px;
            cursor: pointer;
            border-radius: 5px 0px 0px 5px;
            transition: 0.2s ease-in-out;
            &:hover {
              transform: scale(1.2);
            }
          }
        }
        .card-datas {
          position: relative;
          padding: 1rem;
          border-radius: 0px 5px 5px 0px;
          box-shadow: 1px 1px 3px rgb(192, 192, 192);
          width: 100%;
          height: 150px;
          h2 {
            font-size: 20px;
            cursor: pointer;
          }
          .category {
            margin-top: 0.2rem;
            font-size: 16px;
          }
          .addressAndDate {
            font-size: 18px;
            display: flex;
            gap: 5px;
            transform: translateY(18px);
            color: rgb(117, 117, 117);
          }
          .btns {
            position: absolute;
            right: 5px;
            top: 20px;
            button {
              font-size: 16px;
              display: flex;
              align-items: center;
              gap: 5px;
              padding: 0.3rem 0.6rem;
              color: white;
              border: none;
              border-radius: 5px;
              cursor: pointer;
              transition: 0.2s ease-in-out;
              &:hover {
                opacity: 0.8;
              }
              i {
                font-size: 22px;
              }
            }
            .show {
              background-color: green;
            }
            .delete {
              position: absolute;
              right: 15px;
              background-color: red;
            }
          }
        }
      }
    }
  }
}

//
.button-style {
  margin: 12px 0px;
  padding: 8px 20px;
  font: 16px "Poppins", sans-serif;
  background-color: #09c3ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.1s ease;
  &:hover {
    background-color: #4ba3c7;
  }
}

.input-style {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  width: 100%;
  margin-top: 12px;
  padding: 8px;
  background-color: transparent;
  outline: none;
  border: 1px solid rgb(232, 232, 232);
  border-radius: 5px;
  &:focus {
    border-color: #09c3ff;
  }
}

.btn_cancel {
  font: 16px "Poppins", sans-serif;
  margin: 12px 0px;
  padding: 8px 20px;
  background-color: transparent;
  color: #09c3ff;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s ease;
  &:hover {
    border-color: #09c3ff;
  }
}

@media (max-width: 1535px) {
  .profile-dashboard {
    .dashboard_container {
      .p_dash_container {
        width: 1440px;
        // background-color: red;
      }
    }
  }
}
